@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap");
* {
  padding: none;
  margin: none;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #270a2e, #0e0b18);
  letter-spacing: 2px;
  color: #fff7df;
}

@media only screen and (max-width: 425px) {
  main {
    margin: 0;
    padding: 0;
  }
}
main section {
  width: 100%;
  padding: 10% 0;
}

header .nav {
  display: flex;
  justify-content: space-evenly;
  backdrop-filter: blur(10px);
  background-color: rgba(13, 5, 15, 0.308);
  text-align: center;
}
header .nav .container-fluid .list-items {
  justify-content: space-evenly;
}
header .nav .container-fluid .list-items ul li {
  list-style: none;
  margin: 0.5rem;
}
header .nav .container-fluid .list-items ul li a {
  color: #f7ecfc;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: all 0.5s;
}
header .nav .container-fluid .list-items ul li a:hover {
  color: #1d031d;
  background-color: rgba(91, 253, 240, 0.979);
}
header .nav .container-fluid .list-items ul li a:active {
  background-color: rgba(110, 110, 108, 0.616);
  backdrop-filter: blur(5px);
}
header .nav img {
  height: 3rem;
  margin: 0 7rem;
}
@media only screen and (max-width: 992px) {
  header .nav img {
    margin: 0 1rem;
  }
}
header .nav .navbar-toggler .navbar-toggler-icon {
  margin: 0 0.5rem;
  background-image: url("images/menu-icon.png");
}

.content-h {
  align-items: center;
  height: 100vh;
}
.content-h .title {
  background: linear-gradient(to right, #cffcfc, #8985ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-h .title h2 {
  font-size: 5rem;
  line-height: 1;
}
@media only screen and (max-width: 992px) {
  .content-h .title h2 {
    font-size: 4.8rem;
  }
}
@media only screen and (max-width: 425px) {
  .content-h .title h2 {
    font-size: 2.7rem;
    font-weight: 600;
    padding-top: 3rem;
    text-align: center;
  }
}
.content-h .title .subtitle {
  width: 100%;
  align-items: center;
}
.content-h .title .subtitle h1 {
  font-family: "Roboto Mono";
  font-weight: 400;
  line-height: 1.1;
}
@media only screen and (max-width: 425px) {
  .content-h .title .subtitle h1 {
    font-size: 1.5rem;
  }
}
.content-h .title .subtitle img {
  height: 12rem;
}
@media only screen and (max-width: 425px) {
  .content-h .title .subtitle img {
    height: 7rem;
  }
}
@media only screen and (max-width: 425px) {
  .content-h .title .subtitle {
    justify-content: center;
  }
}
.content-h .img-home {
  text-align: center;
}
.content-h .img-home img {
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 992px) {
  .content-h .img-home img {
    width: 27rem;
  }
}
@media only screen and (max-width: 425px) {
  .content-h .img-home img {
    width: 15rem;
  }
}
.content-h .arrow {
  text-align: center;
}
.content-h .arrow i {
  font-size: 2.5rem;
  color: white;
  position: absolute;
  top: 90vh;
}
@keyframes click {
  from {
    font-size: 2.5rem;
  }
  to {
    font-size: 3rem;
  }
}
.content-h .arrow i:hover {
  animation-name: click;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
@media only screen and (max-width: 992px) {
  .content-h .arrow i {
    font-size: 3rem;
  }
  @keyframes click {
    from {
      font-size: 3rem;
    }
    to {
      font-size: 3.5rem;
    }
  }
  .content-h .arrow i:hover {
    animation-name: click;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
  }
}

.section-s {
  align-items: center;
  height: 100vh;
}
.section-s .title-s {
  width: 100%;
  background: linear-gradient(to right, #cffcfc, #8985ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-s .title-s h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}
@media only screen and (max-width: 992px) {
  .section-s .title-s h3 {
    font-size: 3rem;
    font-weight: 500;
  }
}
@media only screen and (max-width: 425px) {
  .section-s .title-s h3 {
    font-size: 1.7rem;
    font-weight: 500;
    padding-top: 3rem;
  }
}
.section-s .title-s h4 {
  font-size: 2.2rem;
  font-weight: 300;
}
@media only screen and (max-width: 992px) {
  .section-s .title-s h4 {
    font-size: 2.7rem;
    font-weight: 300;
  }
}
@media only screen and (max-width: 425px) {
  .section-s .title-s h4 {
    font-size: 1.5rem;
    font-weight: 300;
  }
}
@media only screen and (max-width: 992px) {
  .section-s .title-s {
    text-align: center;
  }
}
.section-s .img-container {
  width: 100%;
  text-align: center;
}
.section-s .img-container .img-s img {
  width: 25rem;
}
@media only screen and (max-width: 425px) {
  .section-s .img-container .img-s img {
    width: 15rem;
  }
}
.section-s .img-container .btn-s {
  margin-top: 1rem;
}
.section-p {
  align-items: center;
  height: 100vh;
}
.section-p .title-p {
  width: 100%;
  background: linear-gradient(to right, #cffcfc, #8985ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-p .title-p h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}
@media only screen and (max-width: 992px) {
  .section-p .title-p h3 {
    font-size: 3rem;
    font-weight: 500;
  }
}
@media only screen and (max-width: 425px) {
  .section-p .title-p h3 {
    font-size: 1.7rem;
    font-weight: 500;
    padding-top: 3rem;
  }
}
.section-p .title-p h4 {
  font-size: 2.2rem;
  font-weight: 300;
}
@media only screen and (max-width: 992px) {
  .section-p .title-p h4 {
    font-size: 2.7rem;
    font-weight: 300;
  }
}
@media only screen and (max-width: 425px) {
  .section-p .title-p h4 {
    font-size: 1.5rem;
    font-weight: 300;
  }
}
@media only screen and (max-width: 992px) {
  .section-p .title-p {
    text-align: center;
  }
}
.section-p .img-container {
  width: 100%;
  text-align: center;
}
.section-p .img-container .img-p img {
  width: 25rem;
}
@media only screen and (max-width: 425px) {
  .section-p .img-container .img-p img {
    width: 15rem;
  }
}
.section-p .img-container .btn-p {
  margin-top: 2rem;
}
.section-e {
  align-items: center;
  height: 100vh;
}
.section-e .title-e {
  width: 100%;
  background: linear-gradient(to right, #cffcfc, #8985ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-e .title-e h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}
@media only screen and (max-width: 992px) {
  .section-e .title-e h3 {
    font-size: 3rem;
    font-weight: 500;
  }
}
@media only screen and (max-width: 425px) {
  .section-e .title-e h3 {
    font-size: 1.7rem;
    font-weight: 500;
    padding-top: 3rem;
  }
}
.section-e .title-e h4 {
  font-size: 2.2rem;
  font-weight: 300;
}
@media only screen and (max-width: 992px) {
  .section-e .title-e h4 {
    font-size: 2.7rem;
    font-weight: 300;
  }
}
@media only screen and (max-width: 425px) {
  .section-e .title-e h4 {
    font-size: 1.5rem;
    font-weight: 300;
  }
}
@media only screen and (max-width: 992px) {
  .section-e .title-e {
    text-align: center;
  }
}
.section-e .img-container {
  width: 100%;
  text-align: center;
}
.section-e .img-container .img-e img {
  width: 25rem;
}
@media only screen and (max-width: 425px) {
  .section-e .img-container .img-e img {
    width: 15rem;
  }
}
.section-e .img-container .btn-e {
  margin-top: 2rem;
}
.section-c {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 5% 3%;
}
.section-c .title-c {
  width: 50%;
  background: linear-gradient(to right, #cffcfc, #8985ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-c .title-c h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}
@media only screen and (max-width: 425px) {
  .section-c .title-c h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
  }
}
.section-c .title-c h4 {
  font-size: 2.2rem;
  font-weight: 300;
}
@media only screen and (max-width: 425px) {
  .section-c .title-c h4 {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
.section-c .form-container {
  margin-top: 6rem;
  padding-right: 6rem;
  display: flex;
  justify-content: center;
}
.section-c .form-container form {
  width: 20rem;
  text-align: center;
}
.section-c .form-container form label {
  font-size: 1.2rem;
}
.section-c .form-container form .btn {
  width: 8rem;
}
@media only screen and (max-width: 985px) {
  .section-c .form-container {
    display: flex;
    justify-self: center;
    padding-top: 3rem;
  }
}
@media only screen and (max-width: 985px) {
  .section-c {
    display: block;
    padding-top: 4rem;
  }
  .section-c .title-c {
    width: 100%;
  }
  .section-c .form-container {
    margin-top: 0;
  }
}

footer div {
  text-align: center;
}
footer div a {
  margin: 0.5rem;
}
footer div a img {
  width: 1.5rem;
  transition: all 0.3s;
}
footer div a img:hover {
  transform: scale(105%);
}
@media only screen and (min-width: 425px) and (max-width: 922px) {
  footer div a img {
    width: 2rem;
  }
}
footer div p {
  font-size: 0.8rem;
  font-weight: 200;
}
@media only screen and (min-width: 425px) and (max-width: 922px) {
  footer div p {
    font-size: 1.2rem;
    font-weight: 200;
  }
}

.services-1 {
  align-items: center;
}
.services-1 .title {
  background: linear-gradient(to right, #cffcfc, #8985ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;
  z-index: 2;
}
.services-1 .title h1 {
  font-size: 4rem;
  line-height: 1;
}
@media only screen and (max-width: 425px) {
  .services-1 .title h1 {
    font-size: 2.4rem;
    text-align: center;
  }
}
.services-1 .title h2 {
  font-size: 2.5rem;
  font-weight: 300;
}
@media only screen and (max-width: 425px) {
  .services-1 .title h2 {
    font-size: 2rem;
    text-align: start;
  }
}
@media only screen and (max-width: 992px) {
  .services-1 .title {
    padding-top: 2rem;
  }
}
@media only screen and (max-width: 425px) {
  .services-1 .title {
    padding-top: 4rem;
  }
}
.services-1 .img-logo {
  width: 12rem;
  position: absolute;
  top: 60%;
  left: 37%;
}
@media only screen and (min-width: 425px) and (max-width: 992px) {
  .services-1 .img-logo {
    width: 17rem;
    top: 25%;
    left: 40%;
  }
}
@media only screen and (max-width: 425px) {
  .services-1 .img-logo {
    width: 10rem;
    top: 38%;
    left: 48%;
  }
}
.services-1 .content-img img {
  width: 30rem;
}
@media only screen and (max-width: 992px) {
  .services-1 .content-img img {
    padding-top: 4rem;
    width: 45rem;
  }
}
@media only screen and (max-width: 425px) {
  .services-1 .content-img img {
    width: 20rem;
    padding-top: 2rem;
  }
}
.services-1 .arrow {
  text-align: center;
}
.services-1 .arrow i {
  font-size: 2.5rem;
  color: white;
  position: absolute;
  top: 90vh;
}
@keyframes click {
  from {
    font-size: 2.5rem;
  }
  to {
    font-size: 3rem;
  }
}
.services-1 .arrow i:hover {
  animation-name: click;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
@media only screen and (max-width: 992px) {
  .services-1 .arrow i {
    font-size: 3rem;
  }
  @keyframes click {
    from {
      font-size: 3rem;
    }
    to {
      font-size: 3.5rem;
    }
  }
  .services-1 .arrow i:hover {
    animation-name: click;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
  }
}

.services-2 {
  background: linear-gradient(to right, #0e0b18, #270a2e);
  border-radius: 1rem;
  padding: 5rem 0.5rem;
  margin: 1rem 0;
}
.services-2 .title {
  align-items: center;
  text-align: center;
}
.services-2 .title h2 {
  height: 10rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  text-align: end;
}
@media only screen and (max-width: 992px) {
  .services-2 .title h2 {
    font-size: 3rem;
    text-align: inherit;
  }
}
@media only screen and (max-width: 425px) {
  .services-2 .title h2 {
    font-size: 2rem;
    height: 8rem;
  }
}
.services-2 .title h3 {
  font-weight: 300;
}
@media only screen and (max-width: 992px) {
  .services-2 .title h3 {
    font-size: 2.2rem;
    text-align: inherit;
  }
}
@media only screen and (max-width: 425px) {
  .services-2 .title h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 992px) {
  .services-2 .title {
    margin-bottom: 3rem;
  }
}
.services-2 .cards-services {
  text-align: center;
}
.services-2 .cards-services img {
  width: 10rem;
}
.services-2 .cards-services h4 {
  font-weight: 300;
}

header .nav .container-fluid .list-items ul, .content-h .title .subtitle {
  display: flex;
}

.section-c {
  height: 100vh;
}

.services-2 .cards-services h5 {
  font-size: 2rem;
  font-weight: 600;
}

.section-s .img-container .btn-s button, .section-p .img-container .btn-p button, .section-e .img-container .btn-e button {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  background-color: rgba(122, 37, 156, 0.719);
  backdrop-filter: blur(5px);
  margin-top: 2rem;
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .section-s .img-container .btn-s button, .section-p .img-container .btn-p button, .section-e .img-container .btn-e button {
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 3rem;
  }
}

.services-2 .cards-services {
  background-color: rgba(63, 10, 43, 0.185);
  backdrop-filter: blur(10px);
  align-items: center;
  transition: all 0.5s;
  margin: 0.5rem;
  padding: 0.5rem;
}
.services-2 .cards-services img {
  max-width: 60%;
  transition: all 0.6s;
}
.services-2 .cards-services .btn {
  padding: 1rem;
  color: blanchedalmond;
  background-color: rgba(31, 10, 36, 0.24);
}
.services-2 .cards-services:hover {
  transform: scale(105%);
  background-color: rgba(59, 24, 39, 0.521);
}
.services-2 .cards-services:hover img {
  transform: scale(110%);
}

footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.1rem;
  background-color: rgba(24, 2, 16, 0.233);
  backdrop-filter: blur(20px);
  border-radius: 0.5rem;
}
footer div {
  margin: 1rem;
}
@media only screen and (max-width: 425px) {
  footer div a img {
    width: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
