@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap");
* {
  padding: none;
  margin: none;
  box-sizing: border-box;
}

body {
  background-color: #050105;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 3px;
  color: #fff7df;
}

@media only screen and (max-width: 425px) {
  main {
    margin: 0;
    padding: 0;
  }
}
main section {
  padding: 10% 0;
}

header .nav {
  display: flex;
  justify-content: space-evenly;
  backdrop-filter: blur(10px);
  background-color: rgba(13, 5, 15, 0.76);
  text-align: center;
}
header .nav .container-fluid .list-items {
  justify-content: space-evenly;
}
header .nav .container-fluid .list-items ul li {
  list-style: none;
  margin: 0.5rem;
}
header .nav .container-fluid .list-items ul li a {
  color: #f7ecfc;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Roboto Mono";
  letter-spacing: 1px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: all 0.5s;
}
header .nav .container-fluid .list-items ul li a:hover {
  color: #1d031d;
  font-weight: 500;
  background-color: rgba(247, 228, 199, 0.288);
  backdrop-filter: blur(5px);
}
header .nav .container-fluid .list-items ul li a:active {
  background-color: rgba(247, 238, 224, 0.616);
  backdrop-filter: blur(5px);
}
header .nav img {
  height: 3rem;
  margin: 0rem 3rem;
}
header .nav .navbar-toggler .navbar-toggler-icon {
  background-image: url("/images/menu-icon.png");
}

.content-h {
  align-items: center;
  height: 100vh;
}
.content-h .title {
  background: linear-gradient(to right, #cffcfc, #8985ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-h .title h2 {
  font-size: 5rem;
  line-height: 1;
}
@media only screen and (max-width: 992px) {
  .content-h .title h2 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 425px) {
  .content-h .title h2 {
    font-size: 2.7rem;
    font-weight: 600;
    padding-top: 3rem;
    text-align: center;
  }
}
.content-h .title .subtitle {
  width: 100%;
  align-items: center;
}
.content-h .title .subtitle h1 {
  font-family: "Roboto Mono";
  font-weight: 400;
  letter-spacing: 10;
  line-height: 1.1;
}
@media only screen and (max-width: 425px) {
  .content-h .title .subtitle h1 {
    font-size: 1.5rem;
  }
}
.content-h .title .subtitle img {
  height: 12rem;
}
@media only screen and (max-width: 425px) {
  .content-h .title .subtitle img {
    height: 7rem;
  }
}
@media only screen and (max-width: 425px) {
  .content-h .title .subtitle {
    justify-content: center;
  }
}
.content-h .img-home {
  text-align: center;
}
.content-h .img-home img {
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 992px) {
  .content-h .img-home img {
    width: 27rem;
  }
}
@media only screen and (max-width: 425px) {
  .content-h .img-home img {
    width: 15rem;
  }
}

.section-s {
  align-items: center;
  height: 100vh;
}
.section-s .title-s {
  width: 100%;
  background: linear-gradient(to right, #cffcfc, #8985ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-s .title-s h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}
@media only screen and (max-width: 992px) {
  .section-s .title-s h3 {
    font-size: 3rem;
    font-weight: 500;
  }
}
@media only screen and (max-width: 425px) {
  .section-s .title-s h3 {
    font-size: 1.7rem;
    font-weight: 500;
    padding-top: 3rem;
  }
}
.section-s .title-s h4 {
  font-size: 2.2rem;
  font-weight: 300;
}
@media only screen and (max-width: 992px) {
  .section-s .title-s h4 {
    font-size: 2.7rem;
    font-weight: 300;
  }
}
@media only screen and (max-width: 425px) {
  .section-s .title-s h4 {
    font-size: 1.5rem;
    font-weight: 300;
  }
}
@media only screen and (max-width: 992px) {
  .section-s .title-s {
    text-align: center;
  }
}
.section-s .img-container {
  width: 100%;
  text-align: center;
}
.section-s .img-container .img-s img {
  width: 25rem;
}
@media only screen and (max-width: 425px) {
  .section-s .img-container .img-s img {
    width: 15rem;
  }
}
.section-p {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 5% 3%;
}
.section-p .title-p {
  padding: 3rem;
  padding-bottom: 0;
  width: 50%;
  background: linear-gradient(to right, #cffcfc, #8985ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-p .title-p h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}
@media only screen and (max-width: 425px) {
  .section-p .title-p h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
  }
}
.section-p .title-p h4 {
  font-size: 2.2rem;
  font-weight: 300;
}
@media only screen and (max-width: 425px) {
  .section-p .title-p h4 {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
.section-p .img-container {
  width: 50%;
  padding: 3rem;
  text-align: center;
}
.section-p .img-container .img-p {
  padding-top: 1rem;
}
.section-p .img-container .img-p img {
  width: 90%;
  margin-top: 3rem;
}
.section-p .img-container .btn-p {
  margin-left: 2rem;
}
@media only screen and (max-width: 985px) {
  .section-p {
    display: block;
    padding-top: 4rem;
  }
  .section-p .title-p {
    width: 100%;
  }
  .section-p .img-container {
    width: 100%;
    padding-top: 0;
  }
  .section-p .img-container .img-p img {
    width: 70%;
  }
}
@media only screen and (max-width: 985px) and (max-width: 425px) {
  .section-p .img-container .img-p img {
    width: 90%;
  }
}

.section-e {
  display: flex;
  align-items: center;
  padding: 5% 3%;
}
.section-e .title-e {
  padding: 6rem 0 0 3rem;
  width: 50%;
  background: linear-gradient(to right, #cffcfc, #8985ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-e .title-e h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}
@media only screen and (max-width: 425px) {
  .section-e .title-e h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
  }
}
.section-e .title-e h4 {
  font-size: 2.2rem;
  font-weight: 300;
}
@media only screen and (max-width: 425px) {
  .section-e .title-e h4 {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
.section-e .img-container {
  padding: 3rem;
  width: 50%;
  text-align: center;
}
.section-e .img-container .img-e {
  padding-top: 3rem;
  padding-left: 3rem;
}
.section-e .img-container .img-e img {
  width: 80%;
}
.section-e .img-container .btn-e {
  margin-left: 3rem;
}
@media only screen and (max-width: 985px) {
  .section-e {
    display: block;
    padding-top: 4rem;
  }
  .section-e .title-e {
    width: 100%;
  }
  .section-e .img-container {
    width: 100%;
  }
  .section-e .img-container .img-e img {
    width: 70%;
  }
}
@media only screen and (max-width: 985px) and (max-width: 425px) {
  .section-e .img-container .img-e img {
    width: 90%;
  }
}

.section-c {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 5% 3%;
}
.section-c .title-c {
  width: 50%;
  background: linear-gradient(to right, #cffcfc, #8985ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-c .title-c h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}
@media only screen and (max-width: 425px) {
  .section-c .title-c h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
  }
}
.section-c .title-c h4 {
  font-size: 2.2rem;
  font-weight: 300;
}
@media only screen and (max-width: 425px) {
  .section-c .title-c h4 {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
.section-c .form-container {
  margin-top: 6rem;
  padding-right: 6rem;
  display: flex;
  justify-content: center;
}
.section-c .form-container form {
  width: 20rem;
  text-align: center;
}
.section-c .form-container form label {
  font-size: 1.2rem;
}
.section-c .form-container form .btn {
  width: 8rem;
}
@media only screen and (max-width: 985px) {
  .section-c .form-container {
    display: flex;
    justify-self: center;
    padding-top: 3rem;
  }
}
@media only screen and (max-width: 985px) {
  .section-c {
    display: block;
    padding-top: 4rem;
  }
  .section-c .title-c {
    width: 100%;
  }
  .section-c .form-container {
    margin-top: 0;
  }
}

footer div {
  text-align: center;
}
footer div a {
  margin: 0.5rem;
}
footer div a img {
  width: 1.5rem;
  transition: all 0.3s;
}
footer div a img:hover {
  transform: scale(105%);
}

header .nav .container-fluid .list-items ul, .content-h .title .subtitle {
  display: flex;
}

.section-p, .section-e, .section-c {
  height: 100vh;
}

.section-s .img-container .btn-s button, .section-p .img-container .btn-p button, .section-e .img-container .btn-e button {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  background-color: rgba(122, 37, 156, 0.719);
  backdrop-filter: blur(5px);
  margin-top: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  width: 45%;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  background-color: rgba(24, 2, 16, 0.233);
  backdrop-filter: blur(20px);
  border-radius: 0.5rem;
}
@media only screen and (max-width: 425px) {
  footer div a img {
    width: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
