.services-2 {
    background: linear-gradient(
    to right, 
    rgb(14, 11, 24),
    rgb(39, 10, 46) 
    );
    border-radius: 1rem;
    padding: 5rem 0.5rem;
    margin: 1rem 0;
    .title {
        align-items: center;
        h2 {
            height: 10rem;
            font-size: 3rem;
            font-weight: 600;
            line-height: 1;
            text-align: end;
            @media only screen and (max-width: 992px) {
                font-size: 2.9rem;
                text-align: start;
            }
            @media only screen and (max-width: 425px) {
                font-size: 2rem;
                height: 8rem;
            }
        }
        h3 {
            font-size: 1.5rem;
            font-weight: 300;
            text-align: start;
            @media only screen and (max-width: 992px) {
                font-size: 2.2rem;
                text-align: inherit;
            }
            @media only screen and (max-width: 425px) {
                font-size: 1.3rem;
            }
        }
        @media only screen and (max-width: 992px) {
            margin: 0 0.5rem;
            margin-bottom: 3rem;
        }
    }
    .cards-content {
        width: 100%;
        .cards-services {
            @extend %card;
            text-align: center;
            height: 50%;
            img {
                width: 10rem;
                margin-left: auto;
                margin-right: auto;
            }
            h4 {
                font-weight: 400;
                @media only screen and (min-width: 425px) and (max-width: 992px) {
                    font-size: 2rem;
                }
            }
            p {
                display: none;
                font-weight: 300;
                @media only screen and (min-width: 425px) and (max-width: 992px) {
                    font-size: 1.5rem;
                }
            }
            @media only screen and (max-width: 992px) {
                margin: 2rem;
            }
        }
    }
}