footer {
    @extend %footer;
    div {
        text-align: center;
        a{
            margin: 0.5rem;
            img{
                width: 1.5rem;
                transition: all 0.3s;
                &:hover {
                    transform: scale(105%);
                }
                @media only screen and(min-width: 425px) and (max-width: 922px) {
                    width: 2rem;
                }
            }

        }
        p {
            font-size: 0.8rem;
            font-weight: 200;
            @media only screen and(min-width: 425px) and (max-width: 922px) {
                font-size: 1.2rem;
                font-weight: 200;
            }
        }
    }
}