footer {
    @extend %footer;
    div {
        text-align: center;
        a{
            margin: 0.5rem;
            img{
                width: 1.5rem;
                transition: all 0.3s;
                &:hover {
                    transform: scale(105%);
                }
            }

        }
    }
}