.content-h {
    @extend %flex;
    align-items: center;
    height: 100vh;
    .title {

        background: linear-gradient(
            to right, 
            hsl(899 90% 90%), 
            hsl(247 20% 60%)
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

        h2 {
            font-size: 4.5rem;
            line-height: 1;
        }
        
        .subtitle {
            @extend %flex;
            align-items: center;
            h1 {
                font-family: 'Roboto Mono';
                font-weight: 400;
                letter-spacing: 10;
                line-height: 1.1;
            }
            img{
                height: 12rem;
            }
        }
    }
    .img-home {
        text-align: center;
        img{
            width: 70%;
            
            @media only screen and (max-width: 992px) {
                width: 40%;
            }
        }

        
    }
    @media only screen and (max-width: 768px) {
        
        .title {
            h2 {
                font-size: 6rem;
            }
        }
        
    }
    @media only screen and (max-width: 425px) {
        
        .title {
            h2 {
                font-size: 3.5rem;
            }
            .subtitle {
                img {
                    height: 8rem;
                }
            }
        }

        
    }
}



