.section-e {
    @extend %container;
    display: flex;
    padding: 5% 3%;

    .title-e {
        padding: 3rem;
        padding-top: 6rem;

        background: linear-gradient(
        to right, 
        hsl(899 90% 90%), 
        hsl(247 20% 60%)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
        h3 {
            @extend %h3;
        }
        h4 {
            @extend %h4;
            padding-top: 2rem
        }
        span {
            @extend %animated-title;
        }
    }

    .img-container {
        padding: 3rem;
        text-align: center;
        .img-e {
            padding-top: 3rem;
            padding-left: 3rem;
            
            img {
                width: 85%;
            }
        }

        .btn-e {
            margin-left: 3rem;
            button {
                @extend %button;
            }
        }

    }
}
