%flex {
    display: flex;
}

%container {
    height: 100vh;  
}
%h3 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1;
}
%h4 {
    font-size: 2.2rem;
    font-weight: 300;
}
%h5 {
    font-size: 2rem;
    font-weight: 600;
}

%button {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    background-color: rgba(122, 37, 156, 0.719);
    backdrop-filter: blur(5px);
    margin-top: 2rem;
    @media only screen and (min-width: 600px) and (max-width: 992px) {
        padding: 1rem 2rem;
        font-size: 2rem;
        border-radius: 3rem;
    }
}

%navbar {
    padding: 0.5rem 2rem;
    background-color: rgba(177, 171, 148, 0.555);
}

%card{
    background-color: rgba(63, 10, 43, 0.185);
    backdrop-filter: blur(10px);
    align-items: center;
    transition: all 0.5s;
    margin: 0.5rem;
    padding: 0.5rem;
    img {
        max-width: 60%;
        transition: all 0.6s;
    }
    h5 {
        @extend %h5;
    }
    &:hover {
        img{
            transform: scale(110%);
        }
        transform: scale(105%);
        background-color: rgba(59, 24, 39, 0.521);
    }
    
}
%footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1rem;
    background-color: rgba(24, 2, 16, 0.233);
    backdrop-filter: blur(20px);
    border-radius: 0.5rem;

    div {
        margin: 1rem;
        a {
            img {
                @media only screen and (max-width: 425px) {
                    width: 1.5rem;
                }
            }
        }
    }
}

